---
// 关于我们 缘起组件

// 导入数据
import { aboutGreet } from "../../../data/about";
const { greet_one, greet_two } = aboutGreet;
---

<div class="flex flex-col items-start">
  <span class="text-4xl text-black font-bold">✨ 缘起</span>
  <span class="mt-12 text-xl md:text-2xl text-black tracking-wider mx-auto">{greet_one}</span>
  <span
    class="mt-12 text-xl md:text-2xl text-center text-black tracking-wider mx-auto"
    >{greet_two}</span>
</div>
