---
const { content } = Astro.props;
---

{
  content ? (
    <>
      {content.type === "article" }
      {content.type === "video" && (
        <iframe
          width="560"
          height="315"
          src={content.data}
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
      )}
    </>
  ) : (
    <p>Loading content...</p>
  )
}
