@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
/* user-select: none; */
body {
  background-color: white;
  font-family: "LXGW Bright GB";
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
