---
const { category, subcategory, roadmap } = Astro.props;
---

{
  roadmap ? (
    <ul>
      {roadmap.map((item:any) => (
        <li>
          <a href={`/${category}/${subcategory}/${item.name}`}>
            {item.displayName}
          </a>
        </li>
      ))}
    </ul>
  ) : (
    <p>No roadmap items found.</p>
  )
}
