---
// 关于我组件

import BaseLayout from "../layouts/BaseLayout.astro";
import AboutHome from "../components/aboutComponent/aboutHome/AboutHome.astro";
import AboutWelcome from "../components/aboutComponent/aboutWelcome/AboutWelcome.astro";
import AboutIntroduce from "../components/aboutComponent/aboutIntroduce/AboutIntroduce.astro";
import AboutMap from "../components/aboutComponent/aboutMap/AboutMap.astro";
import AboutFooter from "../components/aboutComponent/aboutFooter/AboutFooter.astro";
---

<BaseLayout>
  <div class="w-screen pt-32">
    <AboutHome />
  </div>

  <div class="flex flex-col items-center">
    <div class="px-6 max-w-[900px]">
      <div class="mt-32">
        <AboutWelcome client:visible />
      </div>
      <div class="mt-32">
        <AboutIntroduce client:visible />
      </div>
      <div class="mt-32"><AboutMap client:visible /></div>
      <div class="my-32"><AboutFooter client:visible /></div>
    </div>
  </div></BaseLayout
>
