---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Developer Roadmaps - roadmap.sh"
  description={"Community driven roadmaps, articles and guides for developers to grow in their career."}
>
  <div class="text-red-400 h-[1200px] w-full">wuhu</div>
</BaseLayout>
