---
// Footer组件

// 导入数据
import { aboutFooter } from "../../../data/about";
const { footer_one, footer_two, footer_three } = aboutFooter;
---

<div class="flex flex-col items-start">
  <span
    class="mt-12 text-xl md:text-3xl text-center text-black tracking-wider mx-auto"
    >{footer_one}</span
  >

  <span
    class="mt-12 text-xl md:text-2xl text-center text-black tracking-wider mx-auto"
    >{footer_two}</span
  >

  <span
    class="mt-12 text-xl md:text-2xl text-center text-black tracking-wider mx-auto"
    >{footer_three}</span
  >
</div>
