---
// 首页Slogan组件

// 导入组件
import ValWords from "../varWords/VarWords";
// 导入数据
import homeSlogan from "../../data/homeSlogan";
---

<div class="relative py-20 px-20 bg-white">
  <div class="flex flex-col justify-center items-center">
    <div
      class="mx-auto flex max-w-fit items-center justify-center rounded-2xl px-4 py-1.5 text-4xl font-medium duration-500 ease-out [--bg-size:300%]"
    >
      ✨<hr class="h-4 w-[1px] mx-2 shrink-0" />{" "}
      <span
        class="text-3xl md:text-5xl font-bold inline animate-gradient bg-gradient-to-r from-[#ffaa40] via-[#9c40ff] to-[#ffaa40] bg-[length:var(--bg-size)_100%] bg-clip-text text-transparent"
        >{homeSlogan.title}</span
      >{" "}✨
    </div>

    <span
      class="mt-2.5 sm:mt-8 text-gray-600 text-sm sm:text-xl leading-relaxed text-center"
      >{homeSlogan.description1}</span
    >
    <div class="text-sm sm:text-xl text-gray-600 leading-relaxed text-center">
      <span class="my-2.5">{homeSlogan.description2}</span>
      <ValWords words={homeSlogan.val_words} client:load />
    </div>
    <br />
  </div>
</div>
