---
// 站点信息
import siteInfo from "../config/siteInfo";
// 全局样式
import "../styles/global.css";
import "../styles/font.css";
// 导入工具函数｜获取文章数据
import { getPosts } from "../utils/getPosts";
const posts = await getPosts();
// 导入 Navbar
import Navbar from "../components/navbar/Navbar.astro";
// 导入 Footer
import Footer from "../components/footer/Footer.astro";
// 搜索框组件
import ComponentToTop from "../components/componentToTop/ComponentToTop";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteInfo.title}</title>
    <meta name="description" content={siteInfo.description} />
    <link rel="icon" href="../assets/img/logo.avif" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0"
    />
    <meta http-equiv="Content-Language" content="en" />
  </head>
  <body class="relative flex min-h-screen flex-col">
    <Navbar />
    <slot />
    <Footer />
    <ComponentToTop posts={posts} client:load />
  </body>
</html>
