---
// 下滑引导按钮组件

// 导入第三方库
import { ArrowDownIcon } from "@radix-ui/react-icons";
// 导入组件
import Button from "./Button";
---

<div class="z-10 flex min-h-[16rem] items-center justify-center">
  <div
    class={`
          "group rounded-full border border-black/5 bg-neutral-100 text-base text-white transition-all ease-in hover:cursor-pointer"
        `}
  >
    <Button
      className="inline-flex items-center justify-center px-4 py-1 transition ease-out"
    >
      <span>✨下面是更多内容</span>

      <ArrowDownIcon
        className="ml-1 size-3 transition-transform duration-300 ease-in-out group-hover:translate-x-0.5"
      />
    </Button>
  </div>
</div>
